.App {
font-weight: bold;
.pagination{
  overflow: auto;
  display: flex;
  justify-content: center;
}.pagination > li > a
{
    background-color: white;
    color: #714197;
    
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #ffffff;
    background-color: #D784A8;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #714197 ;
    border: solid 1px #714197 ;
}

.pagination > .active > a:hover
{
    background-color: #714197 ;
    border: solid 1px #714197;
}
.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #714197 ;
  border-color: #714197 ;
}
  .row {
    margin-bottom: 20px;
    .card {
      margin-bottom: 20px;
      height: auto;
      overflow-y: auto;
    }
    .card-title{
      color: #714197;
      font-weight: bold;
    }
    strong{
   display: block;
   font-size: 11px;
      color: #D784A8;
    }
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
